/output/
arm-gcc-link_default.ld
Schematics/BOM.txt
Schematics/OGLdpf.log
*.dch~
*.dip~
*.dipb0
*.dipb1
*.o
/Logitech_SP_Adapter/Debug/
/Logitech_SP_Adapter/Release/
/Debug
/Release
Logitech_SP_Adapter.cogui
SP_Profiler/.vs/SP_Profiler/v14/.suo
SP_Profiler/Debug/
SP_Profiler/Release/
SP_Profiler/ipch/
SP_Profiler/x86/
SP_Profiler/x64/
SP_Profiler/SP_Profiler.VC.db
*.opendb
binaries/DXTweak2.exe
Schematics/arch
bin/
obj/
SP_Adapter.depend
SP_Adapter_build_log.html